:root {
  --primary: #6d767d;
  --secondary: #dadfe3;
  --background: #fdfaf3;
  --black: #000000;
  --white: #ffffff;
  --bg-second: #9b9797;
}
body {
  font-family: "AmsiPro";
  background: var(--background);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-pills .nav-link.active {
  background-color: var(--primary) !important;
  color: #fff;
}

.nav-pills .nav-link {
  color: #000;
}

.nav-pills .nav-link:hover {
  color: #000 !important;
}
